body{
    padding-top: 70px;
}

.book-container{
    display: flex;
    flex-wrap: wrap;
}

.book{
    padding: 5px;
    margin: auto;
    min-width: 33%;
    max-width: 34%;
}

.book img{
    width: 50%;
    height: auto;
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    padding-bottom: 10px;
    background: white;
    width: 100%;
}

.nav-div{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-div li{
    padding: 5px;
}

.img-container{
    justify-content: center;
    align-self: center;
}